:root {
  --blue-light: #56d5ef;
  --blue-light-alpha: #56d5ef99;
  --blue-light-alpha-2: #8dc0f299;
  --blue-light-2: #8dc0f2;
  --blue-light-3: #e3f8fa;
  --blue-shadow: #61d6ed;
  --pink-light-alpha: #ffa2b699;
  --pink-light: #ffa2b6;
  --green-light-alpha: #e3f5e699;
  --green-light: #e3f5e6;
  --purple-light-alpha: #cbc3ec99;
  --purple-light: #cbc3ec;
}
