:root {
  --blue-light: #56d5ef;
  --blue-light-alpha: #56d5ef99;
  --blue-shadow: #61d6ed;
  --pink-light-alpha: #ffa2b699;
  --pink-light: #ffa2b6;
  --green-light-alpha: #e3f5e699;
  --green-light: #e3f5e6;
}
