.member-card-content-wrapper:not(:last-child) {
  margin-bottom: 0.3em;
}

.member-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-card-content > * {
  flex-shrink: 0;
}

.member-card-text {
  color: white;
  z-index: 0;
  /* -webkit-text-stroke: 2px black; */
  font-size: 1em;
  line-height: 1.5;
  min-height: 1.5em;
  position: relative;
  display: inline-block;
}

.member-card-text::before {
  content: attr(data-storke);
  position: absolute;
  width: 100%;
  color: transparent;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 5px black;
}

/* platform color */
/* text (default) */
.text .member-card-text {
  /* color: #282828 ; */
}

.text .member-card-text::before {
  -webkit-text-stroke-color: black;
}

/* mix (twitch + youtube) */
.mix .member-card-text {
  /* color: #282828 ; */
  padding: 0 2px;
}

.mix .member-card-text::before {
  background: linear-gradient(270deg, #ff0000, #9147ff);
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
}

/* twitch */
.twitch .member-card-text {
  /* color: #9147ff; */
}

.twitch .member-card-text::before {
  -webkit-text-stroke-color: #9147ff;
}

/* youtube */
.youtube .member-card-text {
  /* color: #282828 ; */
}

.youtube .member-card-text::before {
  -webkit-text-stroke-color: #ff0000;
}


.member-card {
  height: 100%;
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
}


.member-card textarea{
  display: none;
  resize: none;
}

.large .member-card-content {
  font-size: 14px;
}

.medium .member-card-content {
  font-size: 15px;
}

.small .member-card-content {
  font-size: 18px;
}


.member-card.member {
  /* border-width: 0px; */
  position: relative;
  overflow: hidden;
  background: var(--blue-light-3) !important;
}

.member-card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


/* member card background color */
.rilo .member-card,
.melco .member-card {
  background-color: var(--pink-light-alpha);
}

.hatsuki .member-card,
.hakuzen .member-card{
  background-color: var(--blue-light-alpha);
}


/* member card name on image background color */
.rilo .member-card-image + span,
.melco .member-card-image + span {
  background-color: var(--pink-light);
}

.hatsuki .member-card-image + span,
.hakuzen .member-card-image + span {
  background-color: var(--blue-light);
}


.member-card.rest-day {
  background-color: var(--green-light-alpha);
  color: var(--blue-light);
}

.editing .member-card-content {
  display: none;
}

.editing textarea {
  display: block;
}

.text-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2em;
  height: 1.5em;
}

.platform-logo {
  width: 90%;
  height: 90%;
}

.member-card-image + span {
  position: absolute;
  bottom: 0px;
  border-radius: 8px 8px 0 0;
  background-color: transparent;
  color: white;
  width: 100%;
  line-height: 1.6;
}