.member-card-content {
  color: white;
  z-index: 0;
  /* -webkit-text-stroke: 2px black; */
  font-size: 20px;
  line-height: 1.3;
  position: relative;
}

.member-card-content::before {
  content: attr(data-storke);
  position: absolute;
  width: 100%;
  color: transparent;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 3.5px black;
}

.member-card {
  height: 100%;
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
}

.large .member-card-content {
  font-size: 18px;
}

.medium .member-card-content {
  font-size: 20px;
}

.small .member-card-content {
  font-size: 20px;
}


.member-card.member {
  border-width: 0px;
  background: transparent !important;
}

.member-card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rilo .member-card,
.melco .member-card {
  background-color: var(--pink-light-alpha);
}

.hatsuki .member-card,
.hakuzen .member-card {
  background-color: var(--blue-light-alpha);
}

.member-card.rest-day {
  background-color: var(--green-light-alpha);
  color: var(--blue-light);
}
