.member-card-content {
  color: white;
  z-index: 0;
  /* -webkit-text-stroke: 2px black; */
  font-size: 20px;
  line-height: 1.3;
  min-height: 1.3em;
  position: relative;
}

.member-card-content::before {
  content: attr(data-storke);
  position: absolute;
  width: 100%;
  color: transparent;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 5px white;
}

/* platform color */
/* twitch */
.member-card-content.twitch {
  /* color: #9147ff; */
}

.member-card-content.twitch::before {
  -webkit-text-stroke-color: #9147ff;
}

/* youtube */
.member-card-content.youtube {
  /* color: #282828 ; */
}

.member-card-content.youtube::before {
  -webkit-text-stroke-color: #ff0000;
}


.member-card {
  height: 100%;
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
}


.member-card textarea{
  display: none;
  resize: none;
}

.large .member-card-content {
  font-size: 18px;
}

.medium .member-card-content {
  font-size: 20px;
}

.small .member-card-content {
  font-size: 20px;
}


.member-card.member {
  border-width: 0px;
  background: transparent !important;
}

.member-card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rilo .member-card,
.melco .member-card {
  background-color: var(--pink-light-alpha);
}

.hatsuki .member-card,
.hakuzen .member-card {
  background-color: var(--blue-light-alpha);
}

.member-card.rest-day {
  background-color: var(--green-light-alpha);
  color: var(--blue-light);
}

.editing .member-card-content {
  display: none;
}

.editing textarea {
  display: block;
}