/* special mode */
.special .weekly-schedule {
  background-blend-mode: hard-light;
  background-color: red;
}

.weekly-schedule-wrapper {
  display: flex;
  align-items: center;
}

.weekly-schedule {
  padding: 90px 100px;
  width: 1200px;
  height: 900px;
  background-image: url('../images/weeklyTable.jpg');
  background-size: cover;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.weekly-schedule-table {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 563px;
}

.weekly-schedule-period-wrapper {
  display: flex;
  position: absolute;
  font-size: 56px;
  color: white;
  top: 160px;
  right: 160px;
  text-shadow: 2px 2px 4px var(--blue-shadow);
}

.weekly-schedule-table-header-wrapper {
  margin-bottom: 10px;
}

.weekly-schedule-table-header-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.weekly-schedule-table-header-list li{
  color: var(--blue-light);
  /* -webkit-text-stroke: 1px white; */
  font-size: 20px;
}

.weekly-schedule-table-header-list .saturday,
.weekly-schedule-table-header-list .sunday {
  color: var(--pink-light);
}

.weekly-schedule-table-header-list li {
  position: relative;
  flex: 1 1 0;
  width: 0;
  z-index: 0;
}

.weekly-schedule-table-header-list li::before {
  content: attr(data-storke);
  position: absolute;
  width: 100%;
  color: transparent;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 2px white;
}

.weekly-schedule-table-header-list li:not(:first-child) {
  margin-left: 12px;
}

