@import "./css/colors.css";
@import "./css/controlPanel.css";
@import "./css/MemberSchedule.css";
@import "./css/WeeklySchedule.css";
@import "./css/ScheduleCard.css";
@import "./css/SpecialTheme.css";

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.App * {
  font-family: gen, hua, jp-custom;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.day-schedule-wrapper {
  display: flex;
  flex-direction: row;
}


